@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('image.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.card{
  background-color: rgb(236, 241, 185);
  width: 40%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 2%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.946) ;
}

.heading{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;

}

.button{
  margin-top: 15px;
  border: none;
  color: rgb(53, 55, 119);
  font-weight: bold;
  font-family:'Ubuntu', sans-serif ;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  height: 3.2rem;
  font-size: 1.3rem;
  width: 12rem;
  opacity: 1;
  background-color: white;
  border: 2px solid rgb(53, 55, 119);
}

 
.button:hover {
  animation: rotate 0.7s ease-in-out both;
}
  

  
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg) ;
  }
  50% {
    transform: rotate(-3deg) ;
  }
  75% {
    transform: rotate(1deg) ;
  }
  100% {
    transform: rotate(0deg) ;
  }
}
  
@media only screen and (max-width: 600px) {
  .card {
      width: 80%;
      height: 30%;
  }
  .button{
  
    height: 40px;
    width:100px;
    font-weight:bold;
    font-size: small
  }
}